<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.asam.com" target="_blank" title="ASAM">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://docs.neptune-software.com/neptune-dxp-open-edition/21/index.html" title="Neptune DXP - Open Edition"><span>Neptune DXP - Open Edition</span></a>
        <a class="navbar-item" href="https://community.neptune-software.com/documentation/neptune-dxp-p8" target="_blank" title="Neptune DXP - SAP Edition"><span>Neptune DXP - SAP Edition</span></a>
        <a class="navbar-item" href="https://docs.neptune-software.com/neptune-dxp-cloud/all/index.html" title="Neptune DXP Cloud"><span>Neptune DXP Cloud</span></a>
        <a class="navbar-item" href="https://community.neptune-software.com" target="_blank" title="Start connecting with your Neptune Community!"><span>Community</span></a>
        <div class="navbar-item">
          <span class="control main-nav--free-trial">
            <a class="is-primary" href="https://www.neptune-software.com/free-trial/" target="_blank" title="Give Neptune DXP a try!">Free Trial</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
